%section.section
  .container
    .columns
      .column
        %hq.title
          Dashboard
%section.section
  .container
    .columns
      .column.is-8.is-offset-2
        .columns
          .column.is-half
            = link_to([:admin, :companies], class: 'box dashboard-box') do
              %div.has-text-centered{style: 'width: 100%;'}
                %h4.title.is-4 Companies
          .column.is-half
            = link_to([:admin, :defects], class: 'box dashboard-box') do
              %div.has-text-centered{style: 'width: 100%;'}
                %h4.title.is-4 Defects