<section class='section'>
  <div class='container'>
    <div class='columns'>
      <div class='column is-three-fifths is-offset-one-fifth'>
        <h1 class='title is-inline-block'>
          Companies
        </h1>
        <span class='is-pulled-right'>
          <%= link_to(new_admin_company_path, class: 'button is-primary') do %>
            Create Company
          <% end %>
        </span>
        <table class='table is-fullwidth'>
          <thead>
            <tr>
              <td>ID</td>
              <td>Client Name</td>
              <td>Provision Key</td>
              <td>User Cap</td>
              <td>Actions</td>
            </tr>
          </thead>
          <tbody>
            <%= render @companies %>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
</section>
