<section class='section'>
  <div class='container'>
    <div class='columns'>
      <div class='column'>
        <h1 class='title is-inline-block'>
          Companies
        </h1>
        <span class='is-pulled-right'>
          <%= link_to(new_admin_company_path, class: 'button is-primary') do %>
            Create Company
          <% end %>
        </span>
      </div>
    </div>
    
  </div>
</section>
