<%= render 'admin/shared/errors', errors: @company.errors unless @company.errors.blank? %>

<section class='section'>
  <div class='container'>
    <div class='columns'>
      <div class='column is-half is-offset-one-quarter'>
        <h1 class='title'>
          Create Company
        </h1>
        <div class='box'>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</section>
