%section.section
  .container
    .columns
      .column.is-6.is-offset-3
        %h1.title.is-inline-block 
          = title
        %span.is-pulled-right
          = link_to link_label, link_route, class: 'button is-success'