= link_to 'View Company', [:admin, @company]
%section.section
  .container
    .columns
      .column
        %h1.title.is-inline-block #{@company.name} - Reports
        %span.is-pulled-right
          = link_to 'Create Report', [:new, :admin, @company, :report], class: 'button is-success'
        %p.subtitle Last Report Logged: Test

        %table.table.is-fullwidth
          %thead
            %tr
              %th Record Number
              %th User
              %th Status
              %th Date Logged
              %th Actions
          %tbody
            = render @reports
              
            
        
      