= render 'admin/shared/return_link', link_text: 'Dashboard', link: admin_dashboard_path
%section.section
  .container
    .columns
      .column.is-8.is-offset-2
        %h1.title Defects
        %table.table.is-fullwidth.is-hoverable
          %thead
            %tr
              %th Record Number
              %th Name
              %th For Trucks
              %th For Trailers
              %th Status
          %tbody
            = render @defects